body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background: url(image/Snow-Mountain-Wallpaper.jpg) no-repeat center center;
  background-size: cover;
}

.container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

form.box {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
form.box h1 {
  font-weight: normal;
}
form.box input {
  border: none;
}
form.box input[type="text"] {
  background-color: #fff;
  width: 340px;
  padding: 10px;
  border-radius: 25px 0 0 25px;
}
form.box input[type="submit"] {
  width: 130px;
  background-color: orange;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  color: #fff;
  margin-left: -6px;
}
form.box input[type="text"]::placeholder {
  color: gray;
}
